extends base.pug
block scripts
  script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/styleabout.css
block content 
    section#Section1
        div EXPLORE OUR SERVICES ACROSS 12+ INDIAN CITIES 
        div.small Mumbai | Delhi | Gurgaon | Noida | Bangalore | Pune | Hyderabad | Ahmedabad | Jaipur | Chandigarh | Faridabad  | Kolkataand more.
    
  
