extends base.pug
block scripts
  script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/styleservice.css
block content 
    section#Section0 
            div.omg
                h1 With an aim to provide quality dance training and making dance available to all, KK dance classes run throughout the year at multiple locations for students from ages four to eighty four providing them with training in various dance styles by KK’s expert faculty. The classes give them an opportunity to learn dance, express themselves creatively and perform on stage. Classes are available for children (4 to 6 years), juniors (7 to 11 years) and adults (12 years onwards).