@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 26px;
    margin-right: 40px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    background-color: #d43b3b;
    padding: 13px 4px;
    font-family: 'Azeret Mono', monospace;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}
#navbar li{
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 13px 30px;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
#navbar li a:hover{
    
    color: purple;
}  
#introSection{
    background: center / cover no-repeat url("/static/okkk.jpg");
    height: 424px;
    background-color: red;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Azeret Mono', monospace;
    font-size: 52px;
    padding-bottom: 0%;
}
#sponsorSection{
    height: 300px;
    background-color: #ec5858;
    font-family: 'Azeret Mono', monospace;
}
#missionSection{
    height: 300px;
    margin: auto;
    width: 100%;
    height: 300px;
    display: block;

}
#missionSection h2{
    font-family: 'Azeret Mono', monospace;
    text-align: center;
    padding-top: 12px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 22px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 12px;
    margin-top: 15px 12px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img img{
    height: 131px;
    padding: 0 14px;
    margin: 12px 12px;
}
.card-content{
    padding: 0 11px;
}
.card-content p{
    font-size: 19px;
}
#sponsorSection h2{
    font-family: 'Azeret Mono', monospace;
    text-align: center;
    padding-top: 12px;
    font-weight: 1000;
    font-size: 1.5em;
}
#sponsors{
    height: 180px;
    max-width: 1000px;
    margin: auto;
    align-items: 20px;
}
.spImage{
    height: 80%;
    margin: 20px;
}
#footer{
    display: flex;
    height: 60px;
    background-color: white;
    justify-content: center;
    align-items: 20px;
    margin: auto;
    font-size: 20px;
    padding: 22px;
}
#introSection div.small{
    font-size: 30px;
    padding: 5px;
}
